{# JBBundle/Resources/views/Default/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <title>{% block title %}Jack&Bab{% endblock %}</title>
    </head>

    <header>
      {% block header %}
        {{ include('JBBundle:Template:header.html.twig', {}) }}
      {% endblock %}
    </header>

    <body>
        <div id="menu">
            {% block menu %}
            {{ include('JBBundle:Template:menu.html.twig', {}) }}
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}
              Index Body
            {% endblock %}
        </div>
    </body>


    <footer>
      {% block footer %}
        {{ include('JBBundle:Template:footer.html.twig', {}) }}
      {% endblock %}
    </footer>

    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
</html>
