{# JBBundle/Resources/views/Default/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/jackbab.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrapAsset.css') }}">

        <title>{% block title %}Jack&Bab{% endblock %}</title>
    </head>


    <body>
      <div class="wrapper">
        <div class="container-fluid text-center">
          <div class="row content">
            {% block nav %}
            {{ include('JBBundle:Template:header.html.twig', {}) }}
            {% endblock %}
            <div class="container">

              <div id="content">
                  {% block body %}
                    Index Body
                  {% endblock %}
              </div>
            </div>
          </div>
        </div>
        <div class="push"></div>
      </div>
    </body>


    <!-- <footer class="container-fluid text-center">
      {% block footer %}
        {{ include('JBBundle:Template:footer.html.twig', {}) }}
      {% endblock %}
    </footer> -->

    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('js/jquery.min.js')}}"></script>
</html>
